@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit; /* 상위 엘리먼트의 색상 상속 */
  text-decoration: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}
